Order Num: <%= @order.id%><br>
Order Date: <%= @order.order_date.strftime("%m/%d/%Y")%><br>
Customer Name: <%= @order.user.first_name.capitalize %> <%= @order.user.last_name.capitalize %><br>
Order Item: <%= @order.food_item %><br>
Quantity: <%= @order.quantity%><br>
Total: <%= @order.total %>

<form method="post" action="/orders/<%= @order.id %>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete">
</form>